---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=05xKdiG1Pgxrz9U6o2s9GbAWr7ML6qhl&location=mountain%20view,%20ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 09 Mar 2021 19:02:24 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"mountain
        view, ca"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Mountain
        View","adminArea5Type":"City","adminArea4":"Santa Clara County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282042056","unknownInput":"","type":"s","latLng":{"lat":37.39008,"lng":-122.08139},"displayLatLng":{"lat":37.39008,"lng":-122.08139},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=05xKdiG1Pgxrz9U6o2s9GbAWr7ML6qhl&type=map&size=225,160&locations=37.39008,-122.08139|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-516275932"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Mountain
        View","adminArea5Type":"City","adminArea4":"Contra Costa County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode"[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=220544db6bf0ced103d53f15f5a991d5&exclude=minutely,alerts&lat=37.39008&lon=-122.08139&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.3901,"lon":-122.0814,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1615316545,"sunrise":1615300068,"sunset":1615342196,"temp":55.29,"feels_like":46.78,"pressure":1021,"humidity":51,"dew_point":37.49,"uvi":3.54,"clouds":75,"visibility":10000,"wind_speed":10.36,"wind_deg":160,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1615316400,"temp":55.29,"feels_like":47.66,"pressure":1021,"humidity":51,"dew_point":37.49,"uvi":3.54,"clouds":75,"visibility":10000,"wind_speed":8.77,"wind_deg":191,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.9},{"dt":1615320000,"temp":55.11,"feels_like":46.49,"pressure":1021,"humidity":55,"dew_point":39.25,"uvi":4,"clouds":79,"visibility":10000,"wind_speed":11.12,"wind_deg":203,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.78},{"dt":1615323600,"temp":56.08,"feels_like":47.25,"pressure":1020,"humidity":53,"dew_point":39.22,"uvi":3.76,"clouds":73,"visibility":10000,"wind_speed":11.48,"wind_deg":214,"weather":[{"id":803,"main":"Clouds","description"[...]
