<h1>Discount Details</h1>

<li>Discount Percentage: <%= @discount.discount_percentage %></li>
<li>Quantity Threshold:  <%= @discount.quantity_threshold %></li>

<%= link_to 'Edit Discount', edit_merchant_discount_path(@discount.merchant_id, @discount.id) %>