<body class="homepage">
  <div class="jumbotron jumbotron-fluid" id='home'>
    <hr class="my-4">
    <h1 class="display-3">Go Local</h1>
    <h4 class="display-4">So You Don't Go Loco</h3>
    <hr class="my-4">
      <p class="lead login">
        <%= link_to image_tag('google_signin'), provider_name_login_path %>
      </p>
  </div>
  <div class="container">
    <p class="lead">The world has changed, but the desire to travel has not. Travel is always better when you know someone local. This is where Go Local comes in. Go Local is an app that allows travelers to get a local authentic experience on their travels by searching excursions locals have created. Go Local so you don't have to go loco.</p>
    <%= image_tag 'square-logo.png', style: 'width: 65px' %>
  </div>

  <footer>
    <p><span>Photo by <a href="https://unsplash.com/@kenkhero?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Kennedy Kioli</a> on <a href="https://unsplash.com/s/photos/city?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></p>
  </footer>
</body>