<h1 style="text-align:center;">Lotus Flower Bomb</h1>
<p style="text-align:center;">For All Your Boba Tea Needs</p>

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>

<img src="https://media.healthyfood.com/wp-content/uploads/2016/11/Berry-boba-tea.jpg">

